<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FingerprintApiUrl" value="http://localhost/biometric/fingerprint_api.php" />
    <add key="FingerprintApiToken" value="" />
    <add key="AttendanceApiUrl" value="http://localhost/biometric/attendance_api.php" />
    <!-- StationDepartment: filter events to this department only. For Medical Sciences station, set to "Medical Sciences". Use: Medical Sciences, CASE-IT, EPT. Leave empty to show all. -->
    <add key="StationDepartment" value="Medical Sciences" />
  </appSettings>
  <connectionStrings>
    <add name="BiometricDb" connectionString="server=72.60.233.70;port=9009;database=biometric;uid=root;pwd=MiW2BwTxrwHuQ66XFEOSVnR8kmVTUeErc7mh9DYiKltBH5cZofSCRTjv27rCliwn;SslMode=None;Allow User Variables=True;Connection Timeout=60;CheckParameters=False;Protocol=Tcp;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>